@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ACE Claim Search</h2>
    <p class="lead">
        A place to search claim related information. The input parameters are ClientMemberKey and SeqClaimID.
        Both parameters could be zero, or assign value to either one of them.
    </p>
    <p></p>
</div>

<div class="panel">
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {
            <div class="form-group">
                <label>Input Client Member Key: </label>
                @Html.TextBox("ClientMemberKey")
                <label>Input Claim ID: </label>
                @Html.TextBox("SeqClaimID ")
            </div>
            <div class="form-group">
                <input id="SearchButton" type="submit" class="btn btn-primary" value="Search" />
            </div>
        }
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Claim Header Search</h2>
        <p>
            Theese are the columns returned from the query. ClaimID, MemberID, CatOfSvc, SvcStartDate, SvcEndDate,SvcProvName, VendorName
            ,Drg, BillType, AdmDate, AdmSrc, PtStatus ClaimType, ProcessingStatus,ClaimStatus, BillAmt, PaidAmt, DischDispo
        </p>
    </div>
    <div class="col-md-4">
        <h2>Claim Details Search</h2>
        <p>
            Theese are the columns returned from the query. ClaimID, MemberID, LineNumber, LineCode, SvcStartDate, SvcEndDate,ProcCode,
            ModCode1, ModCode2, ModCode3,ModCode4, RevCode, POS1, POS2, POS3, Qty, BilledAmt and PaidAmt
        </p>

    </div>
    <div class="col-md-4">
        <h2>Claim Diags Search</h2>
        <p>
            Theese are the columns returned from the query. ClaimID, MemberID, Icdlg, SeqNo, IcdCode, IcdDesc and IcdPOA
        </p>

    </div>
    <div class="col-md-4">
        <h2>Claim Pharmacy search</h2>
        <p>
            Theese are the columns returned from the query. ClaimID, MemberID, LineNumber, LineCode, SvcStartDate, Qty, BillAmt, PaidAmt, NDCCode,
            GenBrandInd, SuppyDays, DispFeeAmt,IngredientAmt, FormInd, PrescriptionDateWritten, PrescriptionDateFilled,PrescribingProvType
            ,PrescribingProvID,BrandName, DrugStrength, GPI, GPIDesc and CtrlDrugInd
        </p>

    </div>
</div>