
@{
    ViewBag.Title = "SearchClaimHeader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchClaimHeader</h2>

<div>
    <h4>Claims_Headers</h4>
    <hr />
    <dl class="dl-horizontal">
        
    </dl>
</div>